<div class="background-booking">
  <div class="container">
    <br>
    <h3>Edit your booking with <strong><%= @nanny_booking.nanny.name %></strong></h3>
    <br>

    <%= render 'form', nanny_booking: @nanny_booking %>
  </div>
</div>
