<div class="background-booking">
  <div class="container">
    <br>
    <h4>Create a new booking with <strong><%= @nanny.name %></strong></h4>
    <br>

    <%= render 'form', nanny_booking: @nanny_booking %>
  </div>
</div>
