// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$bubba1: #5680E0;
$bubba2: #84CEEB;
$bubba3: #5AB9EA;
$bubba4: #C1C8E4;
$bubba5: #8860D0;
$bubba-gray: #F8F8F8;
