// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
// $body-font: "Open Sans", "Helvetica", "sans-serif";
// $headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


// @font-face {
//   font-family: "Font Name";
//   src: font-url('../fonts/FontFile.eot');
// }
// $circular: Font Name


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "CircularPro";
//   src: font-url('/assets/CircularPro-Black.otf');
//   src: font-url('/assets/CircularPro-Book.otf');
//   src: font-url('/assets/CircularPro-Medium.otf');
// }


@font-face {
    font-family: 'Circular';
    src: font-url('/assets/Circular/CircularPro-Medium.eot');
    src: url('/assets/Circular/CircularPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/Circular/CircularPro-Medium.woff2') format('woff2'),
        url('/assets/Circular/CircularPro-Medium.woff') format('woff'),
        url('/assets/Circular/CircularPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Circular';
    src: url('/assets/Circular/CircularPro-Book.eot');
    src: url('/assets/Circular/CircularPro-Book.eot?#iefix') format('embedded-opentype'),
        url('/assets/Circular/CircularPro-Book.woff2') format('woff2'),
        url('/assets/Circular/CircularPro-Book.woff') format('woff'),
        url('/assets/Circular/CircularPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circular';
    src: url('/assets/Circular/CircularPro-Black.eot');
    src: url('/assets/Circular/CircularPro-Black.eot?#iefix') format('embedded-opentype'),
        url('/assets/Circular/CircularPro-Black.woff2') format('woff2'),
        url('/assets/Circular/CircularPro-Black.woff') format('woff'),
        url('/assets/Circular/CircularPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
$my-font: "Circular";
$body-font: "Circular", "Helvetica", "Arial", "sans-serif";
$headers-font: "Circular", "Helvetica", "Arial", "sans-serif";
