.group-show-container {
  // margin: 0 16px;
}

.group-show-container .card-product {
  margin: 0 8px 8px;
}

.group-show-h4 {
  margin: 32px 8px 4px;
  font-size: 16px;
}

.groups-nav-link {
  margin: 0 8px 4px;
  color: $bubba-new;
}

.group-info p {
  margin: 0 8px 4px;
  td {
    text-align: left;
  }
}

.h4-and-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


