.group-show-container {
  margin-bottom: 28px;
}

.non-member {
  background-color: white;
  padding: 12px;
  border-radius: 6px;
  margin-top: 32px;
  p {
    font-size: 16px;
    // margin: 32px 0 16px 0;
  }
}

.non-member-buttons {
  display: flex;
  justify-content: space-between;
}

.group-show-h4 {
  margin: 32px 8px 4px;
  font-size: 16px;
}

.groups-nav-link {
  margin: 0 8px 4px;
  color: $bubba-new;
}

.group-info p {
  margin: 0 8px 4px;
  td {
    text-align: left;
  }
}

.h4-and-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d3d3d3' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d3d3d3' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


