<h5>You're not a member of this group yet!</h5>

<%= link_to "Join now", group_path(@group), method: :put, class: "btn btn-flat" %>

<%= link_to "Back to all groups", groups_path, class: "link" %>

<h1>Discover our Group</h1>
