<div class="conversations-sidebar h-100">
    <%= link_to root_path, class: "home-advice-white" do %>
      <i class="fas fa-home"></i>
    <% end %>

  <h1>Bubba - Forum </h1>
  <div class="person">
    <div class="online-badge"></div>
    <span>Gurpryia</span>
  </div>
  <div class="chat-section">
    <div class="chat-section-header">
      <h3>Channels</h3>
      <i class="fas fa-plus"></i>
    </div>
    <div class="channel">
      <span><i class="fab fa-slack-hash"></i> general</span>
    </div>
    <div class="channel">
      <span><i class="fab fa-slack-hash"></i> coronavirus</span>
    </div>
    <div class="channel active">

      <span><i class="fab fa-slack-hash"></i> school closures</span>
    </div>
    <div class="channel">
      <span><i class="fas fa-lock"></i> friday-drinks</span>
    </div>
    <div class="channel">
      <span><i class="fas fa-lock"></i> home-schooling</span>
    </div>
  </div>
  <div class="chat-section">
    <div class="chat-section-header">
      <h3>Direct Messages</h3>
      <i class="fas fa-plus"></i>
    </div>
    <div class="person">
      <div class="online-badge"></div>
      <span>Alexia</span>
    </div>
    <div class="person">
      <div class="online-badge"></div>
      <span>Rachel</span>
    </div>
    <div class="person">
      <div class="offline-badge"></div>
      <span>François</span>
    </div>
  </div>

</div>
