</br>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-current_booking-tab" data-toggle="pill" href="#pills-current_booking" role="tab" aria-controls="pills-current_booking" aria-selected="true">current_booking</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-all_bookings-tab" data-toggle="pill" href="#pills-all_bookings" role="tab" aria-controls="pills-all_bookings" aria-selected="false">all_bookings</a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-current_booking" role="tabpanel" aria-labelledby="pills-current_booking-tab">
    <% if @current_booking.present?%>
      <p> YAY! </br> Your booking for <%= @current_booking.event.name %> is now confirmed!</p>
    <% end %>
  </div>
  <div class="tab-pane fade" id="pills-all_bookings" role="tabpanel" aria-labelledby="pills-all_bookings-tab">
    <%= @event_bookings %>
  </div>
</div>
