<div class="container">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-events-bookings-tab" data-toggle="pill" href="#pills-events-bookings" role="tab" aria-controls="pills-events-bookings" aria-selected="true">Event Bookings</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-nannies-bookings-tab" data-toggle="pill" href="#pills-nannies-bookings" role="tab" aria-controls="pills-nannies-bookings" aria-selected="false">Nanny booking</a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="tab-content" id="pills-tabContent">
    <div class="col-8 tab-pane fade show active" id="pills-events-bookings-tab" role="tabpanel" aria-labelledby="pills-events-bookings-tab">
      <ul>
        <% @events.each do |event| %>
          <% if event.date > Date.today %>
            <div class="card-product">
              <div class="card-product-infos col-6-sm-6">
                <p class="event"><%= event.date.strftime("%d/%m/%y") %></p>
                <p><%= event.description %></p>
                    <%= link_to "Cancel this booking", class: "btn btn-flat-small" if event.date > Date.today %>
                  </div>
                </div>
            <% else  %>
              <p>No past bookings</p>
              <% end %>
        <% end %>
      </ul>
    </div>


    <div class="tab-pane fade" id="pills-nannies-bookings-tab" role="tabpanel" aria-labelledby="pills-nannies-bookings-tab">
      <% @nannies.each do |nanny| %>
        <p><%= nanny.name %></p>
        <a class="btn btn-flat">Make a review</a>
      <% end %>
    </div>
  </div>
</div>

