<br>
<br>

<div class="text-center d-flex flex-column align-items-center">
<h1>BUBBA</h1>
</div>
<br>

<div class="text-center d-flex flex-column align-items-center">
  <h3>What are you looking for?</h3>
  <br>
  <br>
  <br>

    <div class="text-center d-flex flex-column align-items-center">
        <%= link_to "Groups", groups_path, :class => "btn btn-flat mb-3", :style => "width:250px;" %>
        <%= link_to "Events", events_path, :class => "btn btn-flat mb-3", :style => "width:250px;" %>
        <%= link_to "Nannies", nannies_path, :class => "btn btn-flat mb-3", :style => "width:250px;" %>
        <%= link_to "Advice", groups_path, :class => "btn btn-flat mb-3", :style => "width:250px;" %>
    </div>
</div>

