.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 6px;
  background: $bubba-new;
  transition: background 0.3s ease;
}

.btn-flat-home {
  color: white;
  padding: 8px 24px;
  border-radius: 6px;
  background: $bubba-new;
  transition: background 0.3s ease;
   &:hover {
    color: white;
    text-decoration: none;
    filter: brightness(80%);
  }
}

@media (max-width: 768px) {
.custom-class  {
        width:100%;
    }
}

.btn-flat:hover {
  background: $bubba2;
  color: $bubba1;
}


.btn-flat-small {
  text-decoration: none;
  font-size: 12px;
  color: white;
  padding: 4px 24px;
  margin: 4px 0;
  border-radius: 6px;
  background: $bubba-new;
  // transition: background 0.3s ease;
}

.button-flat-small-show {
  border-radius: 6px;
  padding: 4px 10px;
  margin-bottom: 4px;
  margin-right: 8px;
  color: white;
  text-decoration: none;
  line-height: 24px;
  // height: fit-content;
  background-color: $bubba-new;
   &:hover {
    color: white;
    text-decoration: none;
    filter: brightness(80%);
  }
}

.btn-flat-small:hover {
  text-decoration: none;
  background: $bubba2;
  color: white;
  transition-duration: 0s;

}

.btn-flat-small-fix {
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  background: $bubba-new;
  transition: background 0.3s ease;
}

.btn-flat-small-fix:hover {
  background: $bubba2;
  color: $bubba1;
}

.banner-button {
  // border: 1px solid white;
  border-radius: 6px;
  padding: 4px 10px;
  color: $bubba-new;
  text-decoration: none;
  position: absolute;
  top: 25px;
  right: 8px;
  background-color: white;
  z-index: 800;
  &:hover {
    color: $bubba-new;
    text-decoration: none;
    filter: brightness(80%);
  }
}

.event-index-button {
  border-radius: 6px;
  padding: 4px 10px;
  margin-bottom: 4px;
  color: white;
  text-decoration: none;
  height:  32px;
  // width: 40px;
  // margin-left: 54%;
  // position: absolute;
  // top: 25px;
  // right: 8px;
  background-color: $bubba-new;
  &:hover {
    color: white;
    text-decoration: none;
    filter: brightness(80%);
  }
}

.nanny-booking-card-button {
  border-radius: 6px;
  padding: 4px 48px;
  margin-bottom: 4px;
  color: white;
  text-decoration: none;
  height:  32px;
  background-color: $bubba-new;
  &:hover {
    color: white;
    text-decoration: none;
    filter: brightness(80%);
  }

}


.event-index-button-v2 {
  border-radius: 6px;
  padding: 6px 16px;
  margin-bottom: 4px;
  color: white;
  text-decoration: none;
  height:  32px;
  width: 124px;
  // margin-left: 54%;
  // position: absolute;
  // top: 25px;
  // right: 8px;
  background-color: $bubba-new;
}
