.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 6px;
  background: $bubba-new;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $bubba2;
  color: $bubba1;
}


.btn-flat-small {
  text-decoration: none;
  font-size: 12px;
  color: white;
  padding: 4px 24px;
  margin: 4px 0;
  border-radius: 6px;
  background: $bubba5;
  // transition: background 0.3s ease;
}

.btn-flat-small:hover {
  text-decoration: none;
  background: $bubba2;
  color: white;
  transition-duration: 0s;

}

.btn-flat-small-fix {
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  background: $bubba5;
  transition: background 0.3s ease;
}

.btn-flat-small-fix:hover {
  background: $bubba2;
  color: $bubba1;
}
