  .card-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.10);
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .card-product.group-index {
    color: $bubba-new !important;
  }

  .carousel-inner {
    border-radius: 6px;
  }

  .carousel-item .card-product {
    border-radius: 0;
  }


  .card-product .event-card{
    height: 200px;
    width: 100%;
    margin-bottom: 8px;
    color: white;

    p {
      opacity: 1;
      font-size: 14px;
    }
    h6 {
      font-size: 24px;
    }
  }

  .card-product.past {
    background: #b36cc4
  }

  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  .group-show-container .card-product {
    margin: 0;
  }

  .event-index-container .card-product {
    margin: 0 0 12px;
  }

  // .card-product img {
  //   height: 100%;
  //   width: 120px;
  //   object-fit: cover;
  // }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product .card-product-infos {
    padding: 16px;
  }

  .card-product-small {
    overflow: hidden;
    height: 100px;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.10);
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 6px;
  }

  .card-product-small img {
    height: 100%;
    width: 55px;
    object-fit: cover;
  }

  .card-product-small h2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
  }

  .card-product-small p {
    font-size: 10px;
    line-height: 1.2;
    opacity: .5;
    margin-bottom: 2px;
    margin-top: 8px;
  }

  .card-product-small .card-product-infos-small {
    padding: 8px;
  }

  .card-nanny {
    overflow: hidden;
    // height: auto;
    width: 100%;
    padding: 16px;
    background: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.10);
    display: flex;
    align-items: center;
    border-radius: 6px;
    // border-style: solid;
    // border-width: .8px;
    // border-color: $bubba-new;
    // margin-right: 1px;
    // margin-left: 1px;
    // margin-top: 4px;
    // margin-bottom: 4px;

    .card-nanny-infos {
      padding: 16px;
      width: 80%;
    }

    img {
      height: 100%;
      width: 55px;
      object-fit: cover;
    }

    h6 {
      color: $bubba-new;
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }

    p {
      color: black;
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
.carousel-item .card-nanny {
  border-radius: 0;
  box-shadow: none;
}

.nanny-carousel-inner {
  box-shadow: 0 0 4px rgba(0,0,0,0.10);
}

.search-box-home{
  background-color: $bubba2;
  border-radius: 6px;
}

.link-card {
  &:hover {
    text-decoration: none;
    filter: brightness(80%);
  }
}

.nanny-booking-details-card {
  background-color: white;
  border-radius: 6px;
  width: 100%;
  padding: 12px;
  margin: 0 0 0 0;
}

.nanny-booking-card-buttons {
  display: flex;
  justify-content: space-between;
}
