/* active (faded) */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
  color: black;
  background-color: $bubba2;
}

.nav-pills > li.active > a:hover {
    background-color: $bubba2;
    color:black;
}
